<?php   header("Access-Control-Allow-Origin: *");   header('Access-Control-Allow-Methods: GET, POST, PUT, OPTIONS, DELETE');   header('Access-Control-Allow-Headers: origin, x-requested-with, content-type');   if ( $_SERVER['REQUEST_METHOD'] === "OPTIONS" )      die();   require "../../../vendor/autoload.php";   $App = new \{{NAMESPACE}}\{{NAME}}( \{{NAMESPACE}}\{{NAME}}::MODE_DEV );   $App->setRouteManagerFromIniFilePath( "../Config/AppRoute.ini" );   $App->render( "index" );